acl "access_networks" {
    {{ named_net_permit }};
};

options {
    version "best named";
    listen-on port {{ named_listen_port }} { "access_networks"; };
    directory "{{ named_zone_path }}/";
    allow-query { "access_networks"; };
    allow-recursion { "access_networks"; };
    allow-transfer { "access_networks"; };
    recursion yes;
    pid-file "/run/named/named.pid";
};

logging {
    channel default_file {
	file "{{ named_log_path }}/named.log";
	severity dynamic;
	print-time yes;
	};
category default { default_file; };
};

zone {{ named_zone_name }} {
    type master;
    file "{{ named_zone_file }}";
};
