$TTL 1D
@ IN SOA @ {{ named_admin_mail }}. (
			0
			1D
			1H
			1W
			3H )
	NS @
	A {{ named_ip_address }}
	MX 5 {{ named_ip_mail }}

{{ named_server_name }}	IN	A	{{ named_zone_ip }}
{{ named_mail_server_name }}	IN	A	{{ named_zone_ip }}